{{define "project"}}
package main

import (
	"log"
	"os"
	"os/signal"

	_ "github.com/GoAdminGroup/go-admin/adapter/beego"                   // web framework adapter
	_ "github.com/GoAdminGroup/go-admin/modules/db/drivers/{{.DriverModule}}"  // sql driver
	_ "github.com/GoAdminGroup/themes/{{.ThemePath}}"                        // ui theme

	"github.com/GoAdminGroup/go-admin/engine"
	"github.com/GoAdminGroup/go-admin/template"
	"github.com/GoAdminGroup/go-admin/template/chartjs"
	"github.com/astaxie/beego"

	"{{.Module}}/pages"
	"{{.Module}}/tables"
	{{if ne .Orm ""}}"{{.Module}}/models"{{end}}
)

func main() {
	startServer()
}

func startServer() {
	app := beego.NewApp()

	template.AddComp(chartjs.NewChart())

	eng := engine.Default()

	beego.SetStaticPath("/uploads", "uploads")

	if err := eng.AddConfigFromYAML("./config.yml").
		AddGenerators(tables.Generators).
		Use(app); err != nil {
		panic(err)
	}

	eng.HTML("GET", "/{{.Prefix}}", pages.GetDashBoard)
	eng.HTMLFile("GET", "/{{.Prefix}}/hello", "./html/hello.tmpl", map[string]interface{}{
		"msg": "Hello world",
	})

	{{if ne .Orm ""}}models.Init(eng.{{title .Driver}}Connection()){{end}}

	beego.BConfig.Listen.HTTPAddr = "127.0.0.1"
	beego.BConfig.Listen.HTTPPort = {{.Port}}
	go app.Run()

	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt)
	<-quit
	log.Print("closing database connection")
	eng.{{title .Driver}}Connection().Close()
}
{{end}}