{{define "project"}}
# The configuration will be written to the database table goadmin_site when the application
# is first started. Subsequent startup will give priority to loading configuration from
# goadmin_site. If you want to modify, you can click the configuration center entry button in the
# upper right corner of the website to finish the modification.

# Database settings, support the configuration of multiple databases, currently supported
# database drivers are: sqlite/mssql/mysql/postgresql.
# The default database connection name is default, and the connection object can be obtained
# through a custom database connection name in the framework.
# In the data table model, you can also obtain the corresponding data by specifying the
# corresponding connection name.
database:
  default:
{{- $database := (index .Databases "default")}}
    driver: {{$database.Driver}}
{{- if ne $database.Driver "sqlite"}}
    host: {{$database.Host}}
    port: {{$database.Port}}
    user: {{$database.User}}
    pwd: {{$database.Pwd}}
    name: {{$database.Name}}    
    max_idle_con: {{$database.MaxIdleConns}}
    max_open_con: {{$database.MaxOpenConns}}
{{- else}}
    file: {{$database.File}}
{{end}}
    # params are additional parameters required by the driver.
    # params:
    #   character: utf8mb4

    # If DSN is set, all the above configurations except Driver will be invalid and the
    # configured DSN shall prevail
    # dsn: ""

# Unique ID of this application.
app_id: {{.AppID}}

# Defined website domain name, used for cookie authentication for domain name restriction.
# domain: {{.Domain}}
# Language of the website
language: {{.Language}}
# Global url prefix
prefix: {{.UrlPrefix}}
# UI theme
theme: {{.Theme}}
# File storage settings, set the storage path and routing prefix of uploaded files.
store:
  path: {{.Store.Path}}
  prefix: {{.Store.Prefix}}

# Title of the website
title: {{.Title}}
# Website LOGO text, will be displayed above the sidebar, can be custom HTML.
logo: {{.Logo}}
# The website LOGO shrinks the text, and it will display the reduced sidebar above the
# sidebar, which can be customized HTML.
mini_logo: {{.MiniLogo}}
# Index page url.
index: {{.IndexUrl}}
# Login page url.
login_url: {{.LoginUrl}}

# Whether it is debug mode.
debug: {{.Debug}}
# Develop environment: EnvLocal/EnvTest/EnvProd
env: {{.Env}}

# Local storage path of info log.
info_log: {{.InfoLogPath}}
# Local storage path of error log.
error_log: {{.ErrorLogPath}}
# Local storage path of access log.
access_log: {{.AccessLogPath}}

# Whether to close the assets access log.
# access_assets_log_off: {{.AccessAssetsLogOff}}
# Whether to close the sql log.
# sql_log: {{.SqlLog}}
# Whether to close the access log.
# access_log_off: {{.AccessLogOff}}
# Whether to close the info log.
# info_log_off: {{.InfoLogOff}}
# Whether to close the error log.
# error_log_off: {{.ErrorLogOff}}

# Color theme, effective when the theme is adminlte.
# color_scheme: {{.ColorScheme}}

# The duration of the session, in seconds, the default is two hours. You need to log
# in again after not logging in for two hours.
session_life_time: {{.SessionLifeTime}}

# Assets url when using CDN.
# asset_url: {{.AssetUrl}}

# File upload engine.
file_upload_engine:
  name: {{.FileUploadEngine.Name}}

# Custom head HTML.
# custom_head_html: {{.CustomHeadHtml}}
# Custom foot HTML.
# custom_foot_html: {{.CustomFootHtml}}
# Custom footer info HTML.
# footer_info: {{.FooterInfo}}

# Title of the login page.
# login_title: {{.LoginTitle}}
# Logo of the login page.
# login_logo: {{.LoginLogo}}

# Custom auth user table.
# auth_user_table: {{.AuthUserTable}}

# Whether to not restrict multi-IP login, if you need multi-browser login, please set to true.
# no_limit_login_ip: {{.NoLimitLoginIP}}

# Whether to close the website.
# site_off: {{.SiteOff}}

# Whether to hide the configuration center entrance.
# hide_config_center_entrance: {{.HideConfigCenterEntrance}}
# Whether to prohibit configuration modification.
# prohibit_config_modification: {{.ProhibitConfigModification}}
# Whether to hide the application center entrance.
# hide_app_info_entrance: {{.HideAppInfoEntrance}}
# Whether to hide the tool entrance.
# hide_tool_entrance: {{.HideToolEntrance}}
# Whether to hide the entrance to the plug-in center.
# hide_plugin_entrance: {{.HidePluginEntrance}}

# Custom 404 page HTML.
# custom_404_html: {{.Custom404HTML}}
# Custom 403 page HTML.
# custom_403_html: {{.Custom403HTML}}
# Customize 500 pages HTML.
# custom_500_html: {{.Custom500HTML}}

# Whether to open admin api.
# open_admin_api: {{.OpenAdminApi}}
# Whether to hide the user center entrance.
# hide_visitor_user_center_entrance: {{.HideVisitorUserCenterEntrance}}

# Excluded theme components that need to be loaded.
# exclude_theme_components:
# - ""

# The local path of the boot file
bootstrap_file_path: {{.BootstrapFilePath}}
# The local path of the go.mod file
go_mod_file_path: {{.GoModFilePath}}

# Whether to allow deletion of operation log.
allow_del_operation_log: {{.AllowDelOperationLog}}
# Whether to close the operation log.
operation_log_off: {{.OperationLogOff}}

# The local path of the resource file.
# This configuration item needs to be set when the theme mode with resource file separation is selected.
{{if eq .AssetRootPath ""}}# {{end}}asset_root_path: {{.AssetRootPath}}

# URL formats.
# url_format:
#   info: /info/:__prefix
#   detail: /info/:__prefix/detail
#   create: /new/:__prefix
#   delete: /delete/:__prefix
#   export: /export/:__prefix
#   edit: /edit/:__prefix
#   show_edit: /info/:__prefix/edit
#   show_create: /info/:__prefix/new
#   update: /update/:__prefix

# Logger configuration is used to set the behavior and settings of the logger.
# More details: https://pkg.go.dev/go.uber.org/zap
logger:
# Encoder configuration is used to set the behavior and settings of the log encoder.
  encoder:
    # Time key
    time_key: {{.Logger.Encoder.TimeKey}}
    # Level key
    level_key: {{.Logger.Encoder.LevelKey}}
    # Name key
    name_key: {{.Logger.Encoder.NameKey}}
    # Caller key
    caller_key: {{.Logger.Encoder.CallerKey}}
    # Message key
    message_key: {{.Logger.Encoder.MessageKey}}
    # Stacktrace key
    stacktrace_key: {{.Logger.Encoder.StacktraceKey}}
    # Level format
    level: {{.Logger.Encoder.Level}}
    # Time format
    time: {{.Logger.Encoder.Time}}
    # Duration
    duration: {{.Logger.Encoder.Duration}}
    # Caller format
    caller: {{.Logger.Encoder.Caller}}
    # Encoding format (console/json)
    encoding: {{.Logger.Encoder.Encoding}}

  # Rotate configuration is used to set the behavior and settings of log rotation.
  rotate:
    # Maximum age to retain old log files
    max_age: {{.Logger.Rotate.MaxSize}}
    # Maximum number of old log files to retain
    max_backups: {{.Logger.Rotate.MaxBackups}}
    # Maximum size of a log file before it's rotated
    max_size: {{.Logger.Rotate.MaxAge}}
    # Compression setting for rotated log files
    compress: {{.Logger.Rotate.Compress}}

{{end}}